
.idea/workspace.xml
PackingSolver/src/.idea/workspace.xml
PackingSolver/src/.idea/vcs.xml
PackingSolver/src/.idea/src.iml
PackingSolver/src/.idea/modules.xml
PackingSolver/src/.idea/misc.xml
PackingSolver/Packing/Packing.iml
PackingSolver/Packing/.idea/workspace.xml
PackingSolver/Packing/.idea/vcs.xml
PackingSolver/Packing/.idea/modules.xml
PackingSolver/Packing/.idea/misc.xml
